@{
    ViewData["Title"] = "Home Page";
}
        <br /><br />
    <div class="row">
    <div class="row">
        <div class=" col-md-4 col-md-offset-4">
            <h1 style="color:black; font-weight: bold; font-family: cursive; text-align: center;">Deals All Around</h1>
        </div>
        <div class=" col-md-4 pull-right">
            <h4 style="color:black; font-weight: bold; font-family: cursive;">Login To Seller Portal</h4>
        </div>
            </div>
                 </div>
        <br /><br /><br /><br /><br />
    <div class="row">
    <div class="row">
        <div class="col-md-6 col-md-offset-1 pull-right">

            <header style="color:black; font-weight: bold; font-family: cursive;" >
                <h1>
                    <span>Discounts;</span>
                    Anywhere Anytime
                </h1>
                <h2> Stay updated with discounts you want, by the brands you love!</h2>
            </header>
        </div>
    </div>
</div>

    <br /><br /><br /><br /><br />

    <div class="row">
    <div class="row">
        <div class="col-md-4 col-md-offset-2 pull-right">
            <input id="register" value="Register Your Brand" type="button" style="background-color:lightgreen; font-family:Verdana; font-size:large;" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="download" value="Download" type="button" style="background-color:lightgreen; font-family:Verdana; font-size:large;" />
        </div>
    </div>
</div>

    <br /><br /><br /><br /><br />
    

    <div style="text-align:center; color:black; font-weight: bold; font-family: cursive; font-size:xx-large; ">
    Deals All Around Features
        </div>
    <div style="text-align:center; color:black; font-family: cursive; font-size:xx-large;">
    For Smartphones Users 
        </div>
        <br /><br /><br /><br />
     <div class="row">
    <div class="col-md-3">
        <img src="~/images/feature-1.png" />
        <h3>Discount Notification</h3>
        <h5>Get instant discount offers and deals, on the go, from your favourite brands</h5>
        
    </div>

    <div class="col-md-3">
        <img src="~/images/feature-3.png" />
        <h3>Quick & Instant</h3>
        <h5>Its a user friendly interface and also application</h5>
    </div>
    <div class="col-md-3">
        <img src="~/images/feature-4.png" />
        <h3>Location Search</h3>
        <h5>Searching for your favourite discounts in any city and any time</h5>
    </div>
    <div class="col-md-3">
        <img src="~/images/feature-5.png" />
        <h3>Never Miss A Deal</h3>
        <h5>Add it to your wishlist and avail at your convenience</h5>

    </div>
</div>
        <br /><br /><br /><br /><br /><br />
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <p style="font-family: cursive; color: black;font-size: xx-large;font-weight: bold;text-align: center;">
        See How It Works<br /> Finding your favourite deals has never been easier before 
            </p>

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/3in1.jpg" class="img-responsive" />

            </div>
            <div class="item">
                <img src="~/images/3in2.jpg" class="img-responsive" />

            </div>
            <div class="item">
                <img src="~/images/3in1.jpg" class="img-responsive" />

            </div>
            <div class="item">
                <img src="~/images/3in3.jpg" class="img-responsive" />

            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
            
            <br /><br /><br />
    <div >
       <h2 style="font-family: cursive; color: black;text-align: center;">
        Promote Your Brands With Deals All Around 
           </h2>  <br /> 
        <h4 style="font-family: cursive; color: black;text-align: center;">
            Join our Seller's Portal today and let us help you in boosting your business
        </h4>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="~/images/pm3.jpg" />
            <h3>Call Our Helpline</h3>
            <h5>you can register your brand with us by calling our helpline at 03345281712.</h5>
      </div>

      <div class="col-md-4">
          <img src="~/images/pro2.png" />
          <h3>Drop us an Email</h3>
          <h5>If u can't call?Its ok. You can also drop us an email at ibraheembukhari@gmail.com</h5>
      </div>

      <div class="col-md-4">
          <img src="~/images/pro3.png" />
          <h3>Our Team Will Visit You</h3>
          <h5> Our sales team will get in touch with you shortly to guide you and provide you the login credentials.</h5>
      </div>
        </div>

    <div class="row">
        <div class="col-md-4   col-md-offset-2">
            <img src="~/images/pro4.png" />
            <h3>Login to Deals All Around Portal</h3>
            <h5>With the provided credentials, you can easily login to Deals All Around seller’s portal.</h5>
        </div>

        <div class="col-md-6">
            <img src="~/images/pro5.png" />
            <h3>Start Creating Deals</h3>
            <h5>Congrats. You can now create discount deals within seconds.</h5>
        </div>
  </div>
            <br /><br /><br /><br />
       <div>
            <p style="font-family: cursive; color: black;text-align: center; font-size:xx-large; font-weight:bolder">Download App</p>
       </div>     
    

        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <img src="~/images/appstore.png" />
                
            </div>

            <div class="col-md-1">
                <img src="~/images/googleplay.png" />

            </div>
        </div>
     
