@*@model DealsAllAround.Models.DealProvider*@
@{
    ViewData["Title"] = "AddDeals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Home" asp-action="AddDeals" method="post">
    <div class="text">Add Your Deals And Promotion</div>
    <br /><br />
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            @*<input class="form-control" id="pic1" name="pic" type="file" required aria-required="true" /> <br />*@
        </div>
        <div class="col-md-6 col-md-offset-4">
            <textarea class="form-control" rows="2" id="desc1" name="description" type="text" placeholder="Description of Product"></textarea> <br />
        </div>
        <div class="col-md-6 col-md-offset-4">
            <input class="form-control" id="price1" name="price" type="number" placeholder="Price" /> <br />
        </div>
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-info center-block" id="addpro1" type="submit" value="Add Product">Add Product </button>
    </div>
        </div>
    </form>
