@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Us"]</h3>


         <p class="text">Have Any Questions?Send Us Now</p>

    <form action="http://localhost" method="post" id="form1">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <input class="form-control" id="name1" name="name" type="text" placeholder="Your Name" required aria-required="true" /> <br /> 
                </div>
            <div class="col-md-6 col-md-offset-4">
                <input class="form-control " id="Email" name="email" type="email" placeholder="Email Address" required aria-required="true" /> <br />
                </div>
            <div class="col-md-6 col-md-offset-4">
                <textarea class="form-control" id="message" type="text" rows="7" placeholder="Enter Your Message" required aria-required="true" aria-invalid="true"></textarea> <br />
                </div>
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-info center-block" id="contact1" type="submit" value="Submit">Submit </button>
            </div>
            </div>
    </form>
