
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="log">
    <h2>LOG IN</h2>
</div>

<form action="http://localhost:50306//Home/AddDeals" method="post" name="loginform">
    @*<div class="form-group text-center">
        <img src="~/images/021.png" />
    </div>*@
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div class="row">
            <div class="col-md-6 col-md-offset-4">

                <input class="form-control" type="email" name="email" id="email1" placeholder="Username" required aria-required="true" />   <br />
                <input class="form-control" type="password" name="password" id="pass1" placeholder="Password" required aria-required="true" /> <br />
                <input class="btn btn-primary form-control" type="submit" name="submit" id="submit1" value="Sign In"/>
                <br /><br /><br /><br />

            
        </div>
    </div>
    </form>
