
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="http://localhost" method="post" id="register1">
    <div class="text">Its Time To Register</div>
    <br /><br />
    <div class="row">
        <div class="col-md-6 col-md-offset-4">          
            <input class="form-control" id="Email" name="email" type="email" placeholder="Email Address" required /> <br />
         </div>
        <div class="col-md-6 col-md-offset-4">
            <input class="form-control" id="phone1" name="phone" type="number" placeholder="Phone Number" required /> <br />
        </div>
        <div class="col-md-6 col-md-offset-4">
            <input class="form-control" id="brand1" name="brand" type="text" placeholder="Brand Name" required /> <br />
         </div>
        <div class="col-md-6 col-md-offset-4">
            <textarea class="form-control" id="address" type="text" rows="3" placeholder="Address" required> </textarea> <br />
            </div>
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-info center-block center-block" id="contact1" type="submit" value="Register Now">Register Now </button>
        </div>
    </div>
</form>
